/* WARNING: Don't use these colors directly. */

$dark-gray: #1f1f1f;
$light-blue: #4094CA;
$lime-green: #4FBD0F;
$turquoise-blue: #0B8F64;
$yellow: #A6CE10;
$white: #fdfdfd;

/* Use these insead! =) */

$text-color: $dark-gray;
$text-color-dimlight: $white;
$link-color: $turquoise-blue;
$link-active-color: $lime-green;
$background-color: $white;
$background-color-dimlight: $dark-gray;
$shadow-color: $background-color-dimlight;

@import
  "utilities",
  "layout",
  "style-guide",
  "component/atom",
  "component/molecule",
  "component/organism"
;
