/* Colors */

.colors {
  font-family: monospace;
  div {
    margin-bottom: 1rem;
    padding: 5rem 1rem .5rem;
    //box-shadow: 0 0 2rem $
  }
  span {
    color: grey;
    mix-blend-mode: difference;
  }
  .dark-gray { background-color: $dark-gray; }
  .light-blue { background-color: $light-blue; }
  .lime-green { background-color: $lime-green; }
  .turquoise-blue { background-color: $turquoise-blue; }
  .yellow { background-color: $yellow; }
  .white { background-color: $white; }
  .text-color { background-color: $text-color; }
  .text-color-dimlight { background-color: $text-color-dimlight }
  .link-color { background-color: $link-color; }
  .link-active-color { background-color: $link-active-color; }
  .background-color { background-color: $background-color; }
  .background-color-dimlight { background-color: $background-color-dimlight; }
}

/* Text */

a {
  &, &:visited {
    color: $link-color;
  }
  &:hover, &:active, &:focus {
    color: $link-active-color;
    text-decoration: none;
  }
}

/* Logo */

.logo {
  max-width: 182px;
}

/* Thumbnail */

.thumbnail {
  height: 0;
  position: relative;
  text-align: left;
  padding-bottom: calc(100% - 1rem);
  border: .5rem solid $background-color;
  box-shadow: 0 0 2rem $background-color-dimlight;
  span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: $text-color-dimlight;
    background-color: rgba( $background-color-dimlight, .7 );
    padding: 5%;
    line-height: 1.2rem;
  }
  img {
    object-fit: cover;
  }
}
