/* Tabs */

.tabs {
  margin-left: 0;
  padding-right: 1rem;
  a {
    color: white;
    padding: 1rem;
    &:hover {
      text-decoration: none;
    }
  }
  li {
    display: inline-block;
    border-radius: 4px;
    background-color: $light-blue;
  }
  li.active, li:hover {
    background-color: $turquoise-blue;
  }
}
