/* Tabs */

.tabs {
  margin-left: 0;
  padding-right: 1rem;
  li {
    margin-right: .25rem;
    margin-bottom: .5rem;
    display: inline-block;
    border-radius: 4px;
    background-color: $link-color;
  }
  li.active, li:hover {
    background-color: $link-active-color;
  }
  a {
    color: white;
    padding: .5rem 1rem;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
}

/* Accordion */

amp-accordion {
  .-amp-accordion-header {
    background-color: $link-color;
    color: $text-color-dimlight;
    padding-left: .5rem;
    font-size: 1.5rem;
  }
  section[expanded] .-amp-accordion-header {
    background-color: $link-active-color;
  }
  .-amp-accordion-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
