/* Tabs */

.tabs {
  margin-left: 0;
  padding-right: 1rem;
  li {
    margin-right: .25rem;
    margin-bottom: .5rem;
    display: inline-block;
    border-radius: 4px;
    background-color: $light-blue;
  }
  li.active, li:hover {
    background-color: $turquoise-blue;
  }
  a {
    color: white;
    padding: .5rem 1rem;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
}
