/* Header */

.site-header {
  background-color: $background-color-dimlight;
  text-align: center;
  margin-bottom: 2rem;
  .site-title {
    display: block;
    width: 182px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .trigger {
    height: 0;
    overflow: hidden;
  }
  .thumbnail-nav {
    display: flex;
    width: 60rem;
    margin: 0 auto -2rem;
    max-width: 90%;
  }
  .thumbnail-link {
    flex: 1 1 auto;
    margin: .5rem;
  }
  .thumbnail-link .thumbnail {
    top: 0;
    transition: top 400ms;
  }
  .thumbnail-link:hover .thumbnail {
    top: 1.5rem;
  }
  @media (max-width: $on-palm) {
    .trigger {
      height: auto;
    }
    .thumbnail-nav {
      display: none;
    }
  }
}

/* Footer */

.site-footer {
  background-color: $background-color-dimlight;
  color: $text-color-dimlight;
}

/* Lightbox Gallery */

.lightbox-gallery .gallery-item {
  display: inline-block;
  width: 25%;
  height: 25%;
  margin: 1rem;
}
