---
layout: default
---
<article class="post">

  <header class="post-header">
    {% assign permalink_parts = page.permalink | replace:"/"," " | strip | split:" " %}
    {% assign section_permalink = permalink_parts | first | prepend:"/" | append:"/" %}

    {% assign section = page %}
    {% for my_page in site.pages %}
      {% if my_page.permalink == section_permalink %}
        {% assign section = my_page %}
        {% break %}
      {% endif %}
    {% endfor %}

    <h1 class="post-title">{{ section.title | escape }}</h1>

    {% assign my_pages = "" | split: "|" %}
    {% for my_page in site.pages %}
    {% if my_page.title and my_page.hidden != true and my_page.permalink contains section.permalink and my_page.permalink != section.permalink %}
      {% assign my_pages = my_pages | push: my_page %}
    {% endif %}
    {% endfor %}

    {% include component/molecule/tabs.html sub_pages=my_pages section=section %}

    {% if page.author %}<p>Author: {{ page.author | escape }}</p>{% endif %}
  </header>

  <div class="post-content">
    {{ content }}

    {% if page.images %}
    {% include component/organism/lightbox-gallery.html images=page.images %}
    {% endif %}

    <a href="{{site.github.repository_url}}/edit/master/{{page.path}}" target="_blank">Suggest a change</a>
  </div>

</article>
