---
layout: default
---
<article class="post">

  <header class="post-header">
    {% assign permalink_parts = page.permalink | replace:"/"," " | strip | split:" " %}
    {% assign section_permalink = permalink_parts | first | prepend:"/" | append:"/" %}

    {% assign section = page %}
    {% for my_page in site.pages %}
      {% if my_page.permalink == section_permalink %}
        {% assign section = my_page %}
        {% break %}
      {% endif %}
    {% endfor %}

    <h1 class="post-title">{{ section.title | escape }}</h1>
    <ul class="sub-pages tabs">
      <li{% if page.permalink == section.permalink %} class='active'{% endif %}><a class="page-link" href="{{ section.url | relative_url }}">About</a></li>
      {% for my_page in site.pages %}
        {% if my_page.title and my_page.hidden != true and my_page.permalink contains section.permalink and my_page.permalink != section.permalink %}
        <li{% if my_page.permalink == page.permalink %} class='active'{% endif %}><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if page.author %}<p>Author: {{ page.author | escape }}</p>{% endif %}
  </header>

  <div class="post-content">
    {{ content }}

    <a href="{{site.github.repository_url}}/edit/master/{{page.path}}" target="_blank">Suggest a change</a>
  </div>

</article>
